@model ProyectoFinal.Models.CarritoDeCompra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarritoDeCompra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div>
                <label for="ClienteId">Cliente:</label>
                @Html.DropDownList("ClienteId", (SelectList)ViewBag.Clientes, "Seleccione un cliente")
            </div>
            
            <div>
                <label for="ProductosIds">Productos:</label>
                @Html.DropDownList("ProductosIds", (SelectList)ViewBag.Productos, "Seleccione un producto")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
